@{
  Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h3>Enter a contact info here:</h3>
    <br>
    <div class="form-group">
      <form action="/info" method="post">
        <div class="row">
          <div class="col-sm-6">
            <label for="new-name">Name:</label>
            <input id="new-name" class="form-control" name="new-name" type="text" placeholder="Full Name">

            <label for="new-street">Street:</label>
            <input id="new-street" class="form-control" name="new-street" type="text" placeholder="Street">

            <label for="new-city">City:</label>
            <input id="new-city" class="form-control" name="new-city" type="text" placeholder="City">
          </div>
          <div class="col-sm-6">
            <label for="new-zip">Zip Code:</label>
            <input id="new-zip" class="form-control" name="new-zip" type="text" placeholder="Zip code">

            <label for="new-phone">Phone #:</label>
            <input id="new-phone" class="form-control" type="text" placeholder="000-000-0000">
            <br>
            <button type="submit" class="btn btn-primary">Save Contact</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>
</html>
