
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="wwwroot/css/styles.css" />
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<body style="background-color:powderblue;">
<center><h1>Your contact list has been cleared!</h1>
<p><a href="/">Back to Address Book</a></p></center>
</body>
</html>
