<h1>Address Book</h1>
<h3>Add Contact:</h3>
<form action="/addressbook" method="post">
  <label for="new-name">Name:</label>
  <input id="new-name" name="new-name" type="text">

  <label for="new-street">Street:</label>
  <input id="new-street" name="new-street" type="text">

  <label for="new-state">State:</label>
  <input id="new-state" name="new-state" type="text">

  <label for="new-zip">Zip Code:</label>
  <input id="new-zip" name="new-zip" type="text">

  <label for="new-phone">Phone:</label>
  <input id="new-phone" name="new-phone" type="text">

  <button type="submit">Submit</button>

</form>
