<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<h1>Address Book</h1>
<form action="/" method="post">

<label for="new-name">Name:</label>
<input id="new-name" name="new-name" type="text">

  <label for="new-street">Street:</label>
  <input id="new-street" name="new-street" type="text">

  <label for="new-city">City:</label>
  <input id="new-city" name="new-city" type="text">

  <label for="new-zip">Zip Code:</label>
  <input id="new-zip" name="new-zip" type="text">

  <label for="new-phone">Phone #:</label>
  <input id="new-Phone" name="new-phone" type="text">


  <button type="submit">Add Place</button>
</form>
