<link rel="stylesheet" type="text/css" href="wwwroot/css/styles.css" />
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<h1>Places To Go</h1>
<ul>
  @foreach(var add in Model)
  {
    <p>Name: @add.GetName()</p>
    <p>Street:@add.GetStreet()</p>
    <p>City: @add.GetCity()</p>
    <p>Zip Code: @add.GetZip()</p>
    <p>Phone #: @add.GetPhone()</p>

    <hr>
  }
</ul>
<p><a href="/contacts/new">Add another Destination</a></p>
<form action="/contacts/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>
